Repository DiogoSilva1904/CineMax, pull requests merged in 2024-06, with the labels that each got.

#22 Scrum 22 files image logic in movie entity and frontend
  .gitignore
  backend/cinemax/pom.xml
  backend/cinemax/src/main/java/deti/tqs/cinemax/SetupData.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/config/WebConfig.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/FileController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/MovieController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/CustomFile.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/FilesClass.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/Movie.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/MovieClass.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/repositories/FileRepository.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/FileService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/MovieService.java
  backend/cinemax/src/main/resources/application.properties
  backend/cinemax/src/test/java/deti/tqs/cinemax/controllers/MovieControllerTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/dataInit/FilesDataInit.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/integrationTests/FileIT.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/services/MovieServiceTest.java
  frontend/cinemax/src/app/add-movie/add-movie.component.html
  frontend/cinemax/src/app/add-movie/add-movie.component.ts
  frontend/cinemax/src/app/movie-card/movie-card.component.html
  frontend/cinemax/src/app/movie-card/movie-card.component.ts
  frontend/cinemax/src/app/movies/movies.component.html
  frontend/cinemax/src/app/movies/movies.component.ts
  frontend/cinemax/src/app/service/api.service.ts
Labels: enhancement, Backend, Frontend

#23 Scrum 16 integration tests
  backend/cinemax/.gitignore
  backend/cinemax/pom.xml
  backend/cinemax/src/main/java/deti/tqs/cinemax/SetupData.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/ReservationController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/SessionController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/UserController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/Movie.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/Reservation.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/Room.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/Session.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/repositories/MovieRepository.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/repositories/SessionRepository.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/MovieService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/ReservationService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/SessionService.java
  backend/cinemax/src/main/resources/application.properties
  backend/cinemax/src/test/java/deti/tqs/cinemax/IT/MovieIT.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/IT/ReservationIT.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/IT/RoomIT.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/IT/SessionIT.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/controllers/MovieControllerTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/controllers/ReservationControllerTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/controllers/RoomControllerTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/controllers/SessionControllerTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/controllers/UserContollerTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/dataInit/DataInit.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/repositories/SessionRepositotyTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/services/MovieServiceTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/services/ReservationServiceTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/services/RoomServiceTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/services/SessionServiceTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/services/UserServiceTest.java
Labels: enhancement, Backend

#27 Scrum 26 repository tests
  backend/cinemax/pom.xml
  backend/cinemax/src/test/java/deti/tqs/cinemax/repository/FileRepositoryTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/repository/MovieRepositoryTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/repository/ReservationRepositoryTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/repository/RoomRepositoryTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/repository/SessionRepositoryTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/repository/UserRepositoryTest.java
  backend/cinemax/src/test/resources/application.properties
  frontend/cinemax/src/app/login/login.component.html
  frontend/cinemax/src/app/register/register.component.html
Labels: Backend

#15 More tests of the Reservation service to increase the coverage
  backend/cinemax/src/test/java/deti/tqs/cinemax/services/ReservationServiceTest.java
Labels: enhancement, Backend

#33 High severity issues + java docs in the service classes
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/FileController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/MovieController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/FileService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/MovieService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/ReservationService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/RoomService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/SessionService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/UserService.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/CinemaxApplicationTests.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/IT/FileIT.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/IT/MovieIT.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/services/FileServiceTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/services/SessionServiceTest.java
Labels: bug, enhancement, Backend

#34 Dev sonarcloud updates issues
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/FileController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/MovieController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/FileService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/MovieService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/ReservationService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/RoomService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/SessionService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/UserService.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/CinemaxApplicationTests.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/IT/FileIT.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/IT/MovieIT.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/services/FileServiceTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/services/SessionServiceTest.java
Labels: enhancement, Backend
