Repository DiogoSilva1904/CineMax, pull requests merged in 2024-05, with the labels that each got.

#3 Scrum 6 controllers for all of the created entities
  backend/cinemax/pom.xml
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/MovieController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/ReservationController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/RoomController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/SeatController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/SessionController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/movieController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/Movie.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/Reservation.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/Room.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/Seat.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/Session.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/User.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/repositories/MovieRepository.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/repositories/ReservationRepository.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/repositories/RoomRepository.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/repositories/SeatRepository.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/repositories/SessionRepository.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/MovieService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/ReservationService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/RoomService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/SeatService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/SessionService.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/controllers/MovieControllerTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/controllers/ReservationControllerTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/controllers/RoomControllerTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/controllers/SeatControllerTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/controllers/SessionControllerTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/services/MovieServiceTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/services/ReservationServiceTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/services/RoomServiceTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/services/SeatServiceTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/services/SessionServiceTest.java
Labels: enhancement

#9 Scrum 8 create frontend admin pages
  frontend/cinemax/angular.json
  frontend/cinemax/package-lock.json
  frontend/cinemax/package.json
  frontend/cinemax/src/app/add-movie/add-movie.component.css
  frontend/cinemax/src/app/add-movie/add-movie.component.html
  frontend/cinemax/src/app/add-movie/add-movie.component.spec.ts
  frontend/cinemax/src/app/add-movie/add-movie.component.ts
  frontend/cinemax/src/app/app.component.html
  frontend/cinemax/src/app/app.config.ts
  frontend/cinemax/src/app/app.routes.ts
  frontend/cinemax/src/app/frontpage/frontpage.component.css
  frontend/cinemax/src/app/frontpage/frontpage.component.html
  frontend/cinemax/src/app/frontpage/frontpage.component.spec.ts
  frontend/cinemax/src/app/frontpage/frontpage.component.ts
  frontend/cinemax/src/app/movie-card/movie-card.component.css
  frontend/cinemax/src/app/movie-card/movie-card.component.html
  frontend/cinemax/src/app/movie-card/movie-card.component.spec.ts
  frontend/cinemax/src/app/movie-card/movie-card.component.ts
  frontend/cinemax/src/app/movies-grid/movies-grid.component.css
  frontend/cinemax/src/app/movies-grid/movies-grid.component.html
  frontend/cinemax/src/app/movies-grid/movies-grid.component.spec.ts
  frontend/cinemax/src/app/movies-grid/movies-grid.component.ts
  frontend/cinemax/src/app/movies/movies.component.css
  frontend/cinemax/src/app/movies/movies.component.html
  frontend/cinemax/src/app/movies/movies.component.spec.ts
  frontend/cinemax/src/app/movies/movies.component.ts
  frontend/cinemax/src/app/navbar/navbar.component.css
  frontend/cinemax/src/app/navbar/navbar.component.html
  frontend/cinemax/src/app/navbar/navbar.component.spec.ts
  frontend/cinemax/src/app/navbar/navbar.component.ts
  frontend/cinemax/src/app/qrcodepage/qrcodepage.component.css
  frontend/cinemax/src/app/qrcodepage/qrcodepage.component.html
  frontend/cinemax/src/app/qrcodepage/qrcodepage.component.spec.ts
  frontend/cinemax/src/app/qrcodepage/qrcodepage.component.ts
  frontend/cinemax/src/app/service/api.service.spec.ts
  frontend/cinemax/src/app/service/api.service.ts
  frontend/cinemax/src/index.html
  frontend/cinemax/src/styles.css
Labels: Frontend

#10 Api Connection to backend
  .gitignore
  backend/cinemax/src/main/java/deti/tqs/cinemax/SetupData.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/config/WebConfig.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/MovieController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/Movie.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/Room.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/Session.java
  frontend/cinemax/.gitignore
  frontend/cinemax/src/app/add-movie/add-movie.component.html
  frontend/cinemax/src/app/add-movie/add-movie.component.ts
  frontend/cinemax/src/app/app.routes.ts
  frontend/cinemax/src/app/movie-card/movie-card.component.html
  frontend/cinemax/src/app/movie-card/movie-card.component.ts
  frontend/cinemax/src/app/movies/movies.component.ts
  frontend/cinemax/src/app/navbar/navbar.component.html
  frontend/cinemax/src/app/navbar/navbar.component.ts
  frontend/cinemax/src/app/service/api.service.ts
  frontend/cinemax/src/app/sessions/sessions.component.css
  frontend/cinemax/src/app/sessions/sessions.component.html
  frontend/cinemax/src/app/sessions/sessions.component.spec.ts
  frontend/cinemax/src/app/sessions/sessions.component.ts
Labels: Backend, Frontend

#12 Scrum 13 admin sessions page
  backend/cinemax/src/main/java/deti/tqs/cinemax/SetupData.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/SessionController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/Session.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/ReservationService.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/SessionService.java
  docker-compose.yml
  frontend/cinemax/src/app/navbar/navbar.component.html
  frontend/cinemax/src/app/service/api.service.ts
  frontend/cinemax/src/app/sessions/sessions.component.css
  frontend/cinemax/src/app/sessions/sessions.component.html
  frontend/cinemax/src/app/sessions/sessions.component.ts
Labels: Backend, Frontend

#13 Scrum 11 buy ticket frontend pages
  backend/cinemax/src/main/java/deti/tqs/cinemax/SetupData.java
  frontend/cinemax/angular.json
  frontend/cinemax/package-lock.json
  frontend/cinemax/package.json
  frontend/cinemax/src/app/app.config.ts
  frontend/cinemax/src/app/app.routes.ts
  frontend/cinemax/src/app/client-navbar/client-navbar.component.css
  frontend/cinemax/src/app/client-navbar/client-navbar.component.html
  frontend/cinemax/src/app/client-navbar/client-navbar.component.spec.ts
  frontend/cinemax/src/app/client-navbar/client-navbar.component.ts
  frontend/cinemax/src/app/frontpage/frontpage.component.css
  frontend/cinemax/src/app/frontpage/frontpage.component.html
  frontend/cinemax/src/app/frontpage/frontpage.component.ts
  frontend/cinemax/src/app/home-page/home-page.component.css
  frontend/cinemax/src/app/home-page/home-page.component.html
  frontend/cinemax/src/app/home-page/home-page.component.spec.ts
  frontend/cinemax/src/app/home-page/home-page.component.ts
  frontend/cinemax/src/app/movie-sessions/movie-sessions.component.css
  frontend/cinemax/src/app/movie-sessions/movie-sessions.component.html
  frontend/cinemax/src/app/movie-sessions/movie-sessions.component.spec.ts
  frontend/cinemax/src/app/movie-sessions/movie-sessions.component.ts
  frontend/cinemax/src/app/service/api.service.ts
  frontend/cinemax/src/index.html
  frontend/cinemax/src/styles.css
Labels: Backend, Frontend

#17 Scrum 20 my tickets page
  backend/cinemax/src/main/java/deti/tqs/cinemax/controllers/ReservationController.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/AppUser.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/models/Reservation.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/repositories/ReservationRepository.java
  backend/cinemax/src/main/java/deti/tqs/cinemax/services/ReservationService.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/controllers/ReservationControllerTest.java
  backend/cinemax/src/test/java/deti/tqs/cinemax/services/ReservationServiceTest.java
  frontend/cinemax/src/app/app.routes.ts
  frontend/cinemax/src/app/booking-page/booking-page.component.html
  frontend/cinemax/src/app/booking-page/booking-page.component.ts
  frontend/cinemax/src/app/client-navbar/client-navbar.component.html
  frontend/cinemax/src/app/mytickets/mytickets.component.css
  frontend/cinemax/src/app/mytickets/mytickets.component.html
  frontend/cinemax/src/app/mytickets/mytickets.component.spec.ts
  frontend/cinemax/src/app/mytickets/mytickets.component.ts
  frontend/cinemax/src/app/service/api.service.ts
Labels: enhancement, Backend, Frontend
